<!-- Top Bar -->
<section class="container mx-auto my-8 bg-secondary p-6">
  <div class="rounded relative flex justify-between">
    <a routerLink="/upload" class="bg-indigo-400 text-white py-4 px-10 text-xl"
      >Upload Videos</a
    >

    <!-- Sort Videos -->
    <select
      (change)="sort($event)"
      class="text-black px-8 text-xl outline-none appearance-none"
    >
      <option value="1" [selected]="videoOrder === '1'">Recent Uploads</option>
      <option value="2" [selected]="videoOrder === '2'">Oldest Uploads</option>
    </select>
  </div>
</section>

<div class="max-w-6xl mx-8 md:mx-10 lg:mx-20 xl:mx-auto">
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
    @for(column of clipsByColumns; track $index) {
    <ul [ngClass]="classesByColumn[$index]">
      @for(clip of column; track clip.docID) {
      <li class="text-sm leading-6">
        <div class="relative group">
          <div
            class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200"
          ></div>
          <!-- Image -->
          <div
            class="relative p-6 space-y-8 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5"
          >
            <a [routerLink]="['/', 'clip', clip.docID]">
              <img
                class="card-img-top rounded-tl-2xl w-full"
                [src]="clip.screenshotUrl"
                crossorigin
              />
            </a>
            <!-- Body -->
            <div class="p-6 text-2xl">
              <!-- Link -->
              <a
                [routerLink]="['/', 'clip', clip.docID]"
                class="font-bold mb-2"
              >
                {{ clip.title }}
              </a>
              <a
                href="#"
                (click)="copyClipboard($event, clip.docID)"
                class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded"
              >
                Copy Link
              </a>

              <!-- Actions -->
              <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
                <a
                  href="#"
                  (click)="openModal($event, clip)"
                  class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400"
                >
                  <span class="material-icons text-base">build</span>
                </a>
                <a
                  href="#"
                  (click)="delete($event, clip)"
                  class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400"
                >
                  <span class="material-icons text-base">delete</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      }
    </ul>
    }
  </div>
</div>

<app-edit [activeClip]="activeClip" (update)="update($event)"></app-edit>
